
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

h2 {
    color: #555;
}

#taskCounter {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 10px auto;
    padding: 12px;
    width: 400px;
    border-radius: 5px;
}

li button {
    margin-left: 10px;
}
